/*File chạy chính định dạng của project*/


/*Header - Begin*/

.header {
    padding: 25px 0px;
    position: relative;
}

.header .color-blur {
    background: url(../images/nhatdan-bg.png) no-repeat wheat;
    background-size: auto;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.header .header__logo img {
    position: absolute;
    top: 0px;
    z-index: 5;
}

.header .header__nav {
    padding: 10px 0px;
}

.header .header__nav ul li {
    display: inline-block;
    transform: translateY(-5px);
}

.header .header__nav ul li a {
    text-transform: uppercase;
    display: block;
    padding: 0px 15px;
}

.header .header__nav ul li:first-child a {
    padding-left: 20px;
}

.header .header__nav ul li:last-child a {
    padding-right: 10px;
    padding-left: 30px;
}

.header .header__nav ul li:last-child {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

#toggle-menu {
    display: none;
}

.show-mobile {
    display: none;
}


/* .header .header__hotline{

} */

.header .header__hotline span,
.contact-box--form .contact-box--form__hotline span {
    display: block;
}

.header .header__hotline span:first-child,
.contact-box--form .contact-box--form__hotline span:first-child {
    color: #767676;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.header .header__hotline span:last-child,
.contact-box--form .contact-box--form__hotline span:last-child {
    color: var(--primary-color);
    font-size: 20px;
    font-family: "Lato Bold", sans-serif;
}

.header .header__hotline::before,
.contact-box--form .contact-box--form__hotline::before {
    content: '';
    display: block;
    width: 35px;
    height: 40px;
    float: left;
    background: url('../images/phone-icon.png') no-repeat;
    background-size: 35px 40px;
    margin-right: 12px;
}


/*Header - End*/


/*Main Slide - Begin*/

.main-slide {
    position: relative;
}

.main-slide .main-slide__controls span {
    position: absolute;
    top: 40%;
    background: #fff;
    color: #161616;
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.main-slide .main-slide__controls .main-slide--prev {
    left: 2%;
}

.main-slide .main-slide__controls .main-slide--next {
    right: 2%;
}

.main-slide .main-slide__dots {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
}

.main-slide .main-slide__dots span {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #dadada;
    margin: 0 2.5px;
    cursor: pointer;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.main-slide .main-slide__dots span.active,
.main-slide .main-slide__dots span:hover {
    border-color: #fff;
    background: #fff;
}


/*Main Slide - End*/


/*Why us - Begin*/

.why-us .section-title {
    text-transform: uppercase;
    font-family: "Lato Bold", sans-serif;
}

.why-us .why-us__item {
    padding-right: 100px;
}

.why-us .why-us__item h3 {
    color: #0f0f0f;
    font-size: 16px;
    font-family: "Lato Bold", sans-serif;
    text-transform: uppercase;
    padding: 20px 0px;
}

.why-us .why-us__item p {
    text-align: justify;
}

.why-us .why-us--reamore {
    text-align: center;
    margin: 60px 0px 0px;
}

.why-us .why-us--reamore a {
    color: #8c877d;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 50px;
    border: 1px solid #e6e6e6;
}


/*Why us - End*/


/*Product box - Beign*/

.product-box {
    background: url('../images/product-bg.png') no-repeat center 40px;
    background-size: cover;
    padding-top: 40px;
}

.product-box .section-title {
    font-family: "Lato Bold", sans-serif;
    font-size: 24px;
}

.product-box .section-title span {
    color: var(--primary-color);
    font-family: "SVN Fontbox", sans-serif;
    font-size: 72px;
    font-weight: normal;
    margin: 0 15px;
}

.product-box .product-box__list {
    margin: 30px 0;
    position: relative;
}

.product-box .product-box__list .product-box--item {
    padding: 0 33px;
    text-align: center;
}

.product-box .product-box__list .product-box--item span {
    display: block;
}

.product-box .product-box__list .product-box--item h3 {
    font-size: 30px;
    color: #1f1f1f;
    font-family: "Lato Bold", sans-serif;
    margin: 30px 0px 5px;
}

.product-box .product-box__list .product-box--item .item__category {
    margin-bottom: 20px;
}

.product-box .product-box__list .product-box--item .item__category a {
    color: var(--primary-color);
    font-size: 14px;
    font-family: "Lato Bold", sans-serif;
    text-transform: uppercase;
}

.product-box .product-box__list .product-box--item .item__price {
    color: #373737;
    font-size: 18px;
}

.product-box .product-box__list .product-box__controls span {
    position: absolute;
    top: 30%;
    background: #fff;
    color: #161616;
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 5;
}

.product-box .product-box__list .product-box__controls .controls--prev {
    left: calc(45px/2);
}

.product-box .product-box__list .product-box__controls .controls--next {
    right: calc(45px/2);
}


/*Product box - End*/


/*Location box - Begin*/

.location-box,
.contact-box {
    padding-left: 10px;
    padding-right: 10px;
}

.location-box .location-box__item,
.contact-box .contact-box--item {
    padding: 0;
}

.location-box .location-box__item:last-child {
    background: var(--primary-color);
    color: #fff;
    padding: 70px 120px;
}

.location-box .location-box__item img,
.contact-box .contact-box--item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.location-box .location-box__item h2 {
    font-size: 48px;
    color: #fff;
    font-family: "Lato Light", sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
}

.location-box .location-box__item p {
    margin-bottom: 40px;
    line-height: 1.5;
}

.location-box .location-box__item span a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 5px;
}

.location-box .location-box__item span i {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #fff;
    padding: 3px 8px;
}


/*Location box - End*/

.news-box .section-title {
    text-transform: uppercase;
    font-family: "Lato Bold", sans-serif;
}

.news-box .news-box__item .item__category {
    text-transform: uppercase;
    margin: 20px 0px;
}

.news-box .news-box__item .item__category a {
    color: var(--primary-color);
    font-family: "Lato Bold", sans-serif;
}

.news-box .news-box__item h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Lato Bold", sans-serif;
    color: #171717;
}

.news-box .news-box__item .item__desc {
    line-height: 1.5;
}


/*News box - End*/


/*Partner box - Begin*/

.partner-box .section-title {
    text-transform: uppercase;
}

.partner-box .partner-box__list {
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
}

.partner-box .partner-box--item {
    text-align: center;
}


/*Partner box - End*/


/*Contact box - Begin*/

.contact-box .contact-box--form {
    background: var(--primary-color);
    height: 100%;
    color: #fff;
    padding: 50px 55px;
}

.contact-box .contact-box--form .section-title {
    color: #fff;
    font-size: 34px;
    font-family: "Lato Light", sans-serif;
    font-weight: normal;
    padding-top: 0;
}

.contact-box .contact-box--form .form-group {
    margin-bottom: 20px;
    position: relative;
}

.contact-box .contact-box--form .form-group.has-icon::before,
.footer .footer--subcribe .form-group::before {
    content: '';
    display: block;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 0;
}

.contact-box .contact-box--form .form-group.user-icon::before {
    background: url('../images/user-icon.png') no-repeat center center;
    background-size: 100% auto;
}

.contact-box .contact-box--form .form-group.email-icon::before,
.footer .footer--subcribe .form-group::before {
    background: url('../images/email-icon.png') no-repeat center center;
    background-size: 100% auto;
}

.contact-box .contact-box--form .form-group.phone-icon::before {
    background: url('../images/phone-icon.png') no-repeat center center;
    background-size: 100% auto;
}

.contact-box .contact-box--form input {
    width: 100%;
    padding: 12px 12px 12px 45px;
    color: #3a3a3a;
}

.contact-box .contact-box--form ::placeholder {
    color: #3a3a3a;
    text-transform: uppercase;
}

.contact-box .contact-box--form button {
    color: #fff;
    display: block;
    background: #242424;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 0;
    cursor: pointer;
}

.contact-box .contact-box--form button:hover {
    background: var(--secondary-color);
}

.contact-box--form .contact-box--form__hotline span {
    color: #fff !important;
}

.contact-box--form .contact-box--form__hotline span:first-child {
    font-size: 15px;
}

.contact-box--form .contact-box--form__hotline span:last-child {
    font-size: 18px;
}

.contact-box--form .contact-box--form__hotline::before {
    background: url('../images/hotline-icon-contact.png') no-repeat;
    background-size: 35px 40px;
}

.contact-box--form .contact-box--form--button-wrap {
    padding-top: 10px;
}

.footer .footer-inner {
    padding-top: 0;
}

.footer .footer--item h3,
.footer .footer--item p {
    margin-bottom: 15px;
}

.footer .footer--item:not(.footer__subscribe-box) {
    max-width: 80%;
}

.footer .footer--social ul li {
    display: inline-block;
    padding-right: 15px;
    font-size: 16px;
}

.footer .footer--subcribe {
    margin-bottom: 25px;
}

.footer .footer--subcribe input {
    padding: 10px;
    background: #e6e6e6;
    width: 100%;
    padding-left: 40px;
}

.footer .footer--subcribe .form-group {
    position: relative;
}


/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */


/* page introduce begin */


/* /introduce begin */

.main-id .main-id__introduce {
    background: url(../images/nhatdan-bg.png) no-repeat white;
    padding-top: 100px !important;
}

.main-id .main-id__introduce h3 {
    font-size: 36px;
    font-family: 'Lato Bold';
}

.main-id .main-id__introduce>.container>p {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.main-id .main-id__introduce>.container>p>a {
    color: #8c877d;
}

.main-id .page--header {
    padding: 15px 0;
}

.main-id .introduce--left {
    padding-top: 50px;
}

.main-id .introduce--left p {
    margin: 15px 0;
    text-align: justify;
    font-size: 16px;
}


/* end introduce */


/* somepicture begin */

.id-header {
    font-size: 48px;
    font-family: 'Lato Light';
    font-weight: unset;
    text-align: center;
    margin: 50px 0;
}


/* end somepicture */


/* begin about us */

.main-id .main-id__about-us .about-us--story {
    background: url(../images/id-about-us-bg.png) no-repeat white;
}

.main-id .about-us--story {
    background: white;
}

.main-id .about-us--title,
.main-id .story__content {
    margin: 0 auto;
}

.main-id .about-us--title p {
    line-height: 20px;
}

.main-id .about-us--title {
    text-align: center;
}

.main-id .main-id__about-us .about-us--story {
    padding-top: 115px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.main-id .main-id__about-us .about-us--story .story__content {
    background: white;
    padding: 50px;
}


/* end about us */


/* main-id__misson-vision begin */

.main-id p {
    font-size: 16px;
}

.main-id .main-id__misson-vision .misson-vision--header {
    margin: 0 auto;
    text-align: center;
}

.main-id .main-id__misson-vision .misson-vision--list {
    border: solid 1px #cdb4a2;
    margin: 15px;
    margin-top: 70px;
    padding: 30px;
    text-align: center;
    position: relative;
}

.main-id .main-id__misson-vision .misson-vision--list::before {
    content: '';
    display: block;
    position: absolute;
    top: -43px;
    left: calc(50% - 43px);
    width: 86px;
    height: 86px;
    background: url(../images/id-coffee.png) no-repeat;
    background-size: cover;
}

.main-id .main-id__misson-vision .misson-vision--list h4 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 18px;
    font-family: 'Lato Bold';
}


/* main-id__misson-vision end */


/* main-id__freeship begin */

.main-id__freeship .freeship--content {
    margin: 0 auto;
    text-align: center;
}

.main-id__freeship .freeship--content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-id__freeship .freeship--content p {
    padding: 0 30px;
}


/* main-id__freeship end */


/* ---------------------------------------------------------------- */


/* ------------------------page introduce End --- ----------------- */


/* ---------------------------------------------------------------- */


/* ------------------------page Contact Begin --- ----------------- */


/* ---------------------------------------------------------------- */


/* begin.main-ct .main-ct__introduce  */

.main-ct p {
    font-size: 16px;
}

.main-ct .main-ct__introduce {
    background: url(../images/nhatdan-bg.png) no-repeat white;
    padding-top: 100px !important;
}

.main-ct .main-ct__introduce h3 {
    font-size: 36px;
    font-family: 'Lato Bold';
}

.main-ct .main-ct__introduce>.container>p {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.main-ct .main-ct__introduce>.container>p>a {
    color: #8c877d;
}

.main-ct .page--header {
    padding: 15px 0;
}

.main-ct .main-ct__introduce .introduce__content .id-header {
    font-size: 30px;
}

.main-ct .have-icon {
    padding: 15px 0;
    position: relative;
    padding-left: 35px;
}

.main-ct .have-icon::before {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
}

.main-ct .left__HN.have-icon::before,
.main-ct .left__HCM.have-icon::before {
    background: url(../images/ct-location-icon.png) no-repeat;
}

.main-ct .left__phone.have-icon::before {
    background: url(../images/ct-phone-icon.png) no-repeat;
}

.main-ct .left__mail.have-icon::before {
    background: url(../images/ct-mail-icon.png) no-repeat;
}

.main-ct .introduce--right {
    padding-top: 50px;
    text-align: right;
}


/* :end .main-ct .main-ct__introduce  */


/* ct-footer begin  */

.footer .contact-box--item:nth-child(2) iframe {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.footer .contact-box--form .form-group.page-ct input,
.footer .contact-box--form .form-group.page-ct textarea {
    border: 1px solid #dadada;
    padding-left: 15px !important;
    padding-top: 10px;
}

.footer .contact-box--form .form-group.page-ct::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.footer .contact-box--form .form-group.page-ct.textarea textarea {
    width: 100%;
}

.footer .contact-box--form .form-group.page-ct.textarea textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.footer .button-ct button {
    background: var(--primary-color) !important;
}

.footer .contact-box .contact-box--item .contact-box--form.contact-ct {
    background: white !important;
    padding-top: 0;
    padding-left: 0;
}


/* ct-footer end  */


/* ---------------------------------------------------------------- */


/* ------------------------page Contact End --- ----------------- */


/* ---------------------------------------------------------------- */


/* ------------------------page Product Begin --- ----------------- */


/* ---------------------------------------------------------------- */

.main-pd p {
    font-size: 16px;
}

.main-pd .main-pd__introduce {
    background: url(../images/nhatdan-bg.png) no-repeat white;
    padding-top: 100px !important;
}

.main-pd .main-pd__introduce h3 {
    font-size: 36px;
    font-family: 'Lato Bold';
}

.main-pd .main-pd__introduce>.container>p {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.main-pd .main-pd__introduce>.container>p>a {
    color: #8c877d;
}

.main-pd .page--header {
    padding: 15px 0;
}

.main-pd .main-pd__list-product .list-product--icafe > p, .main-pd .main-pd__list-product .list-product--bmt-cafe > p, .main-pd .main-pd__list-product .list-product--caudat-cafe > p, .main-pd .main-pd__list-product .list-product--e-cafe > p, .main-pd .main-pd__list-product .list-product--a-cafe > p, .main-pd .main-pd__list-product .list-product--nhung-cafe > p {
    font-size: 24px;
    font-family: 'Lato Bold';
    color: black;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 50px; }
    .main-pd .main-pd__list-product .list-product--icafe > p > a, .main-pd .main-pd__list-product .list-product--bmt-cafe > p > a, .main-pd .main-pd__list-product .list-product--caudat-cafe > p > a, .main-pd .main-pd__list-product .list-product--e-cafe > p > a, .main-pd .main-pd__list-product .list-product--a-cafe > p > a, .main-pd .main-pd__list-product .list-product--nhung-cafe > p > a {
      display: inline-block;
      float: right;
      font-size: 13px;
      padding-top: 8px;
      text-transform: uppercase; }
  
  .main-pd .main-pd__list-product .list-product--icafe .product img, .main-pd .main-pd__list-product .list-product--bmt-cafe .product img, .main-pd .main-pd__list-product .list-product--caudat-cafe .product img, .main-pd .main-pd__list-product .list-product--e-cafe .product img, .main-pd .main-pd__list-product .list-product--a-cafe .product img, .main-pd .main-pd__list-product .list-product--nhung-cafe .product img {
    width: 100%;
    height: auto; }
  
  .main-pd .main-pd__list-product .list-product--icafe .product .name, .main-pd .main-pd__list-product .list-product--bmt-cafe .product .name, .main-pd .main-pd__list-product .list-product--caudat-cafe .product .name, .main-pd .main-pd__list-product .list-product--e-cafe .product .name, .main-pd .main-pd__list-product .list-product--a-cafe .product .name, .main-pd .main-pd__list-product .list-product--nhung-cafe .product .name {
    color: black;
    font-size: 16px;
    font-family: 'Lato Bold';
    margin-top: 10px;
    margin-bottom: 5px; }
  
  .main-pd .main-pd__freeship .freeship--content {
    margin: 0 auto; }
  
/* ---------------------------------------------------------------- */


/* ------------------------page Pruduce End --- ----------------- */


/* ---------------------------------------------------------------- */


/* ------------------------page adress Begin --- ----------------- */


/* ---------------------------------------------------------------- */
.main-lct .main-lct__introduce {
    background: url(../images/nhatdan-bg.png) no-repeat white;
    padding-top: 100px !important;
}

.main-lct .main-lct__introduce h3 {
    font-size: 36px;
    font-family: 'Lato Bold';
}

.main-lct .main-lct__introduce .introduce__content .introduce--left p.point {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.main-lct .main-lct__introduce>.container>p>a {
    color: #8c877d;
}

.main-lct .page--header {
    padding: 15px 0;
}

.main-lct .introduce--left {
    padding-top: 50px;
}

.main-lct .introduce--left p {
    margin: 15px 0;
    text-align: justify;
    font-size: 16px;
}


.main-lct .introduce__content .introduce--right.page-lct{
    text-align: right;
}
select#adress{
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}
.main-lct .main-lct__content h4.content--header{
    font-size: 24px;
    font-family: 'Lato Bold';
    padding: 10px 0;
    margin-top: 15px;
}
.main-lct .main-lct__content a.button{
    padding: 10px 20px;
    margin-top: 10px;
    display: inline-block;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-bottom: 30px;
}
.main-lct .main-lct__content a.button:hover{
    color: white;
    background: var(--primary-color);}

/* ---------------------------------------------------------------- */


/* ------------------------page adress End --- ----------------- */


/* ---------------------------------------------------------------- */


/* ------------------------page promotion Begin --- ----------------- */


/* ---------------------------------------------------------------- */
 .main-pm .pm-content {
  position: relative;
  min-height: 533px;
  margin-bottom: 50px; }
  .main-pm .pm-content img {
    height: 100%; 
    width: auto;}
  .main-pm .pm-content .content--box {
    position: absolute;
    top: 100px;
    right: 70px;
    background: white;
    padding: 30px;
    width: 355px;
    height: 350px; }
    .main-pm .pm-content .content--box h3.box-header {
      color: black;
      font-size: 30px;
      padding: 30px 0 50px 0; }
    .main-pm .pm-content .content--box > a.button {
      padding: 10px 25px;
      margin-top: 10px;
      display: inline-block;
      color: white;
      border: 1px solid white;
      margin-bottom: 30px;
      background: var(--primary-color);
      cursor: pointer; }
      .main-pm .pm-content .content--box > a.button:hover {
        background: white;
        color: var(--primary-color);
        border: 1px solid var(--primary-color); }
  .main-pm .pm-content:nth-child(2n+1) .content--box {
    background: var(--primary-color);
    color: white; }
    .main-pm .pm-content:nth-child(2n+1) .content--box h3.box-header {
      color: white; }
    .main-pm .pm-content:nth-child(2n+1) .content--box > a.button:hover {
      border: 1px solid white; } 
/* ---------------------------------------------------------------- */


/* ------------------------page promotion End --- ----------------- */


/* ---------------------------------------------------------------- */


/* ------------------------page news Begin --- ----------------- */


/* ---------------------------------------------------------------- */
p.catalory {
    color: var(--primary-color);
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 600; }
  
  .main-news h3.news--header {
    color: #171717;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 25px; }
  
  .main-news .news__first-news h3.news--header {
    font-size: 24px;
    margin-bottom: 35px; }
  .main-news .news__first-news{
      margin-bottom: 50px;  }
  .main-news .news__first-news p.catalory {
    padding-top: 50px; }
  
  .main-news .list--item {
    padding-bottom: 50px;
    margin-bottom: 10px; }
  
  .main-news .dotted-change {
    text-align: center; }
    .main-news .dotted-change span {
      display: inline-block;
      padding: 7px 11px 5px 11px;
      font-size: 18px;
      color: var(--primary-color);
      border-radius: 50%;
      margin: 3px; }
      .main-news .dotted-change span:hover, .main-news .dotted-change span.active {
        color: white;
        background: var(--primary-color); }
  /* ---------------------------------------------------------------- */


/* ------------------------page news End --- ----------------- */


/* ---------------------------------------------------------------- */


/* ------------------------page news Begin --- ----------------- */


/* ---------------------------------------------------------------- */
.main-lct-details__rating-comment .process-bar{
    display: inline-block;
    width: 50%;
    height: 15px;
    border-radius: 15px;
    background: #f1f1f1;
    margin: 10px 10px 10px 10%;
}
.main-lct-details__rating-comment .process-bar span.process{
    display: inline-block;
    height: 100%;
    border-radius: 15px;
    background: #808640;
}
span.process.fivestar{
    width: 80%;
}
span.process.fourstar{
    width: 40%;
}
span.process.threestar{
    width: 25%;
}
span.process.twostar{
    width: 15%;
}
span.process.onestar{
    width: 10%;
}

.main-lct-details__introduce .container {
    padding-bottom: 30px;
    border-bottom: 5px solid #e1e1e1; }
    .main-lct-details__introduce .container .content-lct {
      padding-left: 50px; }
      .main-lct-details__introduce .container .content-lct .lctd-header {
        font-size: 30px;
        font-weight: 800;
        line-height: 35px; }
      .main-lct-details__introduce .container .content-lct p.adress {
        font-size: 16px;
        color: #3f3938;
        padding-left: 20px;
        position: relative;
        padding-bottom: 15px; }
        .main-lct-details__introduce .container .content-lct p.adress::before {
          content: '';
          display: block;
          width: 16px;
          height: 22px;
          background: url(../images/ct-location-icon.png) no-repeat;
          background-size: cover;
          position: absolute;
          top: -4px;
          left: 0; }
      .main-lct-details__introduce .container .content-lct p.rating i {
        font-size: 25.5px;
        color: #edbe2f;
        padding-top: 10px;
        padding-bottom: 15px; }
      .main-lct-details__introduce .container .content-lct p.content {
        padding-top: 15px;
        padding-bottom: 30px; }
  
  .main-lct-details__rating-comment .container {
    border-bottom: 5px solid #e1e1e1;
    margin-bottom: 30px; }
    .main-lct-details__rating-comment .container .rating-chart > p:nth-child(1) {
      font-family: 'Lato Light';
      font-size: 24px;
      font-weight: normal; }
    .main-lct-details__rating-comment .container .rating-chart > p:nth-child(2) {
      font-size: 48px;
      color: black; }
    .main-lct-details__rating-comment .container .rating-chart > p:nth-child(3) i {
      color: #edbe2f;
      font-size: 25.5px; }
    /* ---------------------------------------------------------------- */


/* ------------------------page location-details --- ----------------- */


/* ---------------------------------------------------------------- */


/* ------------------------page news-details begin --- ----------------- */


/* ---------------------------------------------------------------- */
.main-news-details .news-details-box {
    max-width: 830px;
    margin: 0 auto;
    text-align: center; }
  
  .main-news-details .section-news-details {
    max-width: 840px; }
  
  .main-news-details .main-id__introduce h3.id-header {
    font-family: 'Lato Light';
    margin-bottom: 10px; }
  
  .main-news-details .main-id__introduce p.tree {
    text-align: center;
    margin-bottom: 30px; }
  
  .main-news-details .main-id__introduce p {
    padding: 10px 30px;
    text-align: inherit; }
    .main-news-details .main-id__introduce p > i {
      font-size: 18px;
      font-weight: 300;
      color: #151515; }
  
  .main-news-details .main-news-details__content .news-details-box {
    padding: 0 35px; }
  
  .main-news-details .main-news-details__content .content--header {
    font-size: 24px;
    font-family: 'Lato Bold';
    text-align: left;
    margin: 20px 0; }
  
  .main-news-details .main-news-details__content .content--details {
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px; }
  
  .main-news-details .main-news-details__content .contact {
    border-bottom: 1px solid #e0e0e0; }
    .main-news-details .main-news-details__content .contact p {
      margin: 15px 0;
      font-size: 14px;
      text-align: left; }
      .main-news-details .main-news-details__content .contact p a {
        display: inline-block;
        padding: 0 20px; }
  
  .main-news-details .main-news-details__relate h2.realate--header {
    font-size: 30px;
    font-weight: normal;
    color: #3d3838;
    text-align: center;
    margin-bottom: 50px; }
  
  .main-news-details .main-news-details__relate .list--item .news--header {
    margin: 10px 0; }
  
  .main-news-details .main-news-details__relate .container {
    padding-bottom: 30px;
    border-bottom: 3px solid #888888; }
/* ---------------------------------------------------------------- */


/* ------------------------page  news-details end --- ----------------- */


/* ---------------------------------------------------------------- */


/* ------------------------page regiter-sucess begin --- ----------------- */


/* ---------------------------------------------------------------- */
  .main-regiter-sucess{
      text-align: center;  }
      .main-regiter-sucess  .page-header{
          margin: 30px 0;
          font-size: 48px;
          font-family: 'Lato Light';
          font-weight: normal;
      }
      .main-regiter-sucess p{
          font-size: 18px !important;
          color: #292929 !important;
          font-weight: normal !important;
          margin: 15px 0;
          line-height: 22px;
      }
/* ---------------------------------------------------------------- */


/* ------------------------page  regiter-success end --- ----------------- */