.main-news-details{
    .news-details-box{
        max-width: 830px;
        margin: 0 auto;
        text-align: center;}
    .section-news-details{
        max-width: 840px;
    }
    .main-id__introduce{
            h3.id-header{
            font-family: 'Lato Light';
            margin-bottom: 10px;
            }
            p.tree{
            text-align: center;
            margin-bottom: 30px;
            }
            p{
                padding: 10px 30px;
                text-align: inherit;
                &>i{
                    font-size: 18px;
                    font-weight: 300;
                    color: #151515;
                    
                    }
            }  
    }
    .main-news-details__content{
        .news-details-box{
            padding: 0 35px;
        }
        .content--header{
            font-size: 24px;
            font-family: 'Lato Bold';
            text-align: left;
            margin: 20px 0;
        }
        .content--details{
            text-align: left;
            font-size: 16px;
            margin-bottom: 20px;
        }
        .contact{
            p{
                margin: 15px 0;
                font-size: 14px;
                text-align: left;
                a{
                    display: inline-block;
                    padding: 0 20px;
                }
            }
            border-bottom: 1px solid #e0e0e0;
        }
        
    }
    .main-news-details__relate{
        h2.realate--header{
            font-size: 30px;
            font-weight: normal;
            color: #3d3838;
            text-align: center;
            margin-bottom: 50px;
        }
        .list--item{
            .news--header{
                margin: 10px 0;
            }
        }
        .container{
            padding-bottom: 30px;
            border-bottom: 3px solid #888888;
        }
        
    }
}